<!DOCTYPE html>
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css.css">
<script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
</head>
<body>

    <header id="header" class="header d-flex flex-wrap justify-content-center py-3 mb-4 ">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">CryptoDbSS / Ethereum - Bridge interoperability</span>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="https://cryptodbss.blogspot.com/" class="nav-link" id="scrollToTop" target="_blank">Blog</a></li>
        <li class="nav-item"><a href="https://github.com/CryptoDbSS" class="nav-link" target="_blank">Repo</a></li>
        <li class="nav-item"><a href="https://0.0.0.0:52468/about" class="nav-link" target="_blank">about</a></li>
        </ul>
    </header>

    <section class="hero">

      <div class="heroElements">
        <h1 class="hero-h1" style="text-align: center;">Bridge integration between Ethereum and cryptoDbSS using MetaMask and web3.js</h1>
        <br><p style="text-align: center;">This is an implementatiom that integrates CryptoDbSS with Ethereum, performs transactions from an Ethereum-based blockchain to a smart contract that receives funds ,which are then transferred in equivalence to CryptoDbSS-based sidechain. </p>
      </div>             
    </section>

    <section class="transfer">

    <div class="container">

      <div class="inputaddress">

        <p style="text-align: center;">CryptoDbSS Address</p>
        <input type="text" id="address" name="fname" class="input-element" style="text-align: center;">

      </div>

      <div class="row">
        <div class="column">
          <div class="container">
            <p style="text-align: center;">Ether Value</p>
            <input type="text" id="qtty" name="fname" class="input-value" style="text-align: right;">
          </div>
        </div>
        <div class="column">

          <div class="buttoncontainer">

            <button class="buttonRoud" onclick="connectMetaMask()">Connect MetaMask and Send &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            
          </div>
        </div>
      </div> 
    </div>

    </section>

      <footer>
        <div class="footer-bar">

          <div class="row footerRowAling">
      
            <div class="col-sm-4">
              <p class="text_footer">designed by Steeven J Salazar</p>
            </div>
      
            <div class="col-sm-4 divfootercol">
              <p class="text_footer"> steevenjavier@gmail.com</p>
            </div>
      
            <div class="col-sm-4 divfootercol">
              <p class="text_footer">All rights reserved - 2025</p>
            </div>
      
          </div>
        </div>
      </footer>

</body>

<script>

  const contractAddress = '0x4E6CAe59d77FB38D67ee4CeF7fE99c98422581B6';
  contractABI = '0'

   async function onPageLoad() {
     const response = await fetch('src/abi');
     const responseData = await response.json();
     contractABI = responseData.abi;
   }


  window.onload = onPageLoad;
  async function connectMetaMask() {

  if (typeof window.ethereum === 'undefined') {
    alert('This browser does not have the MetaMask extension installed.');
    return
  }

   await window.ethereum.enable();
   const web3 = new Web3(window.ethereum);
   
   // load abi smart constract
   const contract = new web3.eth.Contract(contractABI, contractAddress);


   await ethereum.request({ method: 'eth_requestAccounts' });
   const accounts = await ethereum.request({ method: 'eth_accounts' });
   const userAddress = accounts[0];
   const address = document.getElementById("address").value 
   const qtty = document.getElementById("qtty").value 
   const transaction = await contract.methods.buy("0x"+address).send({
     from: userAddress,
     value: web3.utils.toWei(qtty, 'wei')
   });

   console.log('Transacción enviada:', transaction.transactionHash);
 }


</script>
</html>